target/
*.iml
.idea
jacoco.exec
hs_err_pid*
replay_pid*
build.bat
build.sh
cf.login.bat
cf.login.sh
check.dependency.updates.bat
check.dependency.updates.sh
check.plugin.updates.bat
check.plugin.updates.sh
update.angular.cli.to.latest.bat
update.angular.cli.to.latest.sh
update.npm.to.latest.bat
update.npm.to.latest.sh
update.gradle.bat
update.gradle.sh
connect.prod.mongodb.bat
connect.prod.mongodb.sh
push.all.to.prod.bat
push.all.to.prod.sh
push.to.prod.bat
push.to.prod.sh
*prod*.yml
